#colorWheel {
    -webkit-animation: intro 3s ease;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    position: relative;
    -webkit-transform-origin: 50px 150px;
    -moz-transform-origin: 50px 150px;
    -ms-transform-origin: 50px 150px;
    -o-transform-origin: 50px 150px;
    transform-origin: 50px 150px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}



#colorWheel span {
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    border-style: solid;
    border-width: 250px 100px;
    box-sizing: border-box;
}

#colorWheel span.color01 {

    transform: rotate(0deg);
    border-color: #43a1cd transparent transparent transparent;
}

#colorWheel span.color02 {

    transform: rotate(15deg);
    border-color: #639b47 transparent transparent transparent;
}

#colorWheel span.color03 {

    transform: rotate(30deg);
    border-color: #43a1cd transparent transparent transparent;
}

#colorWheel span.color04 {

    transform: rotate(45deg);
    border-color: #e1e23b transparent transparent transparent;
}

#colorWheel span.color05 {

    transform: rotate(60deg);
    border-color: #f7941e transparent transparent transparent;
}

#colorWheel span.color06 {

    transform: rotate(75deg);
    border-color: #ba3e2e transparent transparent transparent;
}

#colorWheel span.color07 {

    transform: rotate(90deg);
    border-color: #9a1d34 transparent transparent transparent;
}

#colorWheel span.color08 {

    transform: rotate(105deg);
    border-color: #662a6c transparent transparent transparent;
}

#colorWheel span.color09 {

    transform: rotate(120deg);
    border-color: #272b66 transparent transparent transparent;
}

#colorWheel span.color10 {

    transform: rotate(135deg);
    border-color: #2d559f transparent transparent transparent;
}

#colorWheel span.color11 {

    transform: rotate(150deg);
    border-color: #43a1cd transparent transparent transparent;
}

#colorWheel span.color12 {

    transform: rotate(165deg);
    border-color: #639b47 transparent transparent transparent;
}

#colorWheel span.color13 {

    transform: rotate(180deg);
    border-color: #9ac147 transparent transparent transparent;
}

#colorWheel span.color14 {

    transform: rotate(195deg);
    border-color: #e1e23b transparent transparent transparent;
}

#colorWheel span.color15 {

    transform: rotate(210deg);
    border-color: #f7941e transparent transparent transparent;
}

#colorWheel span.color16 {

    transform: rotate(225deg);
    border-color: #ba3e2e transparent transparent transparent;
}

#colorWheel span.color17 {

    transform: rotate(240deg);
    border-color: #9a1d34 transparent transparent transparent;
}

#colorWheel span.color18 {

    transform: rotate(255deg);
    border-color: #662a6c transparent transparent transparent;
}

#colorWheel span.color19 {

    transform: rotate(270deg);
    border-color: #272b66 transparent transparent transparent;
}

#colorWheel span.color20 {

    transform: rotate(285deg);
    border-color: #639b47 transparent transparent transparent;
}

#colorWheel span.color21 {

    transform: rotate(300deg);
    border-color: #272b66 transparent transparent transparent;
}

#colorWheel span.color22 {

    transform: rotate(315deg);
    border-color: #639b47 transparent transparent transparent;
}

#colorWheel span.color23 {

    transform: rotate(330deg);
    border-color: #272b66 transparent transparent transparent;
}

#colorWheel span.color24 {

    transform: rotate(335deg);
    border-color: #662a6c transparent transparent transparent;
}

#colorWheel span.color25 {

    transform: rotate(360deg);
    border-color: #662a6c transparent transparent transparent;
}



#colorWheel:before {
    content: "";
    width: 500px;
    height: 500px;
    overflow: hidden;
    position: absolute;
    top: -30px;
    left: -180px;
    border-radius: 100%;
    border: 30px solid #9c4037;
    z-index: 100;
}

#colorWheel:after {
    content: "";
    width: 320px;
    height: 320px;
    overflow: hidden;
    position: absolute;
    top: 85px;
    left: -60px;
    border-radius: 100%;
    background: #ff7c35;
}